#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.36);
    -webkit-box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.36);
    -moz-box-shadow: 8px 8px 5px -2px rgba(0,0,0,0.36);
}
h1{
    color: black;
}
#home button{
    border-radius: 25px;
}